.ChatContainer {
  display: flex;
  flex-basis: 100%;
}

.UsersList {
  display: flex;
  flex-direction: column;
  flex:2;
  border-right: solid 1px #fff;
  background-color: #f1f3f4;
  overflow: scroll;
}

.ChatInteractions {
  display: flex;
  flex: 5;
  flex-direction: column;
}

.MessagesContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 1em 1em 0.5em;
}

.Messages {
  flex: 1;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  background-color: #f1f3f4;
  padding-bottom: 0.5em;
  overflow: scroll;
}

.Messages > * {
  margin-top: 0.5em;
}

.IsTypingContainer {
  margin-top: 0.3em;
  height: 4%;
  display: flex;
  min-height: 20px;
}

.isTyping {
  padding: 2px 4px;
  flex: 1;
  display: flex;
  align-items: center;
  font-size: 0.9em;
  font-style: italic;
  color: #7C7D7D;
}

.SendBar {
  border-top: 1px solid #fff;
  display: flex;
  max-height: 50px;
  flex:1;
}

.SendBar input {
  flex: 5;
  font-size: 1.5em;
}

.SendBar div {
  background: linear-gradient(45deg, #61bd4f 0, #5aac44 100%);
  flex: 1;
  color: #fff;
  font-size: 1.5em;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Monda', sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

/*USERS*/

.User {
  display: flex;
  padding: 0.5em 1em;
  border-bottom: solid 1px #fff;
  min-height: 50px;
}

.userDetails {
  display: flex;
  align-items: center;
}

.userDetails span {
  font-style: italic;
  color: #7C7D7D;
}

.userDetails p {
  margin: 0 1em 0;
  font-size: 1.3em;
}

.online {
  width: 1em;
  max-width: 10px;
  height: 1em;
  max-height: 10px;
  background-color: #4ca64c;
  border-radius: 50px;
}

.offline {
  width: 1em;
  max-width: 10px;
  height: 1em;
  max-height: 10px;
  background-color: #ff4c4c;
  border-radius: 50px;
}

.pic {
  width: 3em;
  max-width: 45px;
  height: 3em;
  max-height: 45px;
  border-radius: 50px;
  color: white;
  font-weight: bold;
  font-family: 'Monda', sans-serif;
  display: flex;
  font-size: 1em;
  align-items: center;
  justify-content: center;
}

@media(max-width: 750px) {
  .User {
    padding: 0.5em;
    min-height: 30px;
  }
  .Messages {
    flex: 2;
    min-width: 300px;
  }
  .UsersList {
    min-width: 200px;
  }

}

@media(max-width: 500px) {
  .User > * {
    font-size: 0.7em;
  }
  .UsersList {
    min-width: 0;
  }
}
